body {
    font-family: Arial, sans-serif;
    background:linear-gradient(180deg,#f8f9fb,#eeeeee);
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 950px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #023335;
}

.intro {
    text-align: center;
    margin-bottom: 40px;
    color: #555;
    font-size: 16px;
}

.card {
  position: relative;
  background: #ffffff;
    border-radius: 12px;
    padding: 25px;
    margin: 20px auto;
    width: 85%;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
}

.card h2 {
    margin-top: 0;
    color: #023335;
}
 .request-box {
    background: linear-gradient(135deg, #023335, #045d60);
    color: #ffffff;
    padding: 30px 25px;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.request-box h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.request-box p {
    font-size: 16px;
    margin-bottom: 20px;
}

.request-btn {
    display: inline-block;
    padding: 14px 35px;
    background: #ffffff;
    color: #023335;
    font-weight: bold;
    border-radius: 35px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease;
}

.request-btn:hover {
    background: #e6e6e6;
}

.volunteer-form {
    display: none;
    background: #ffffff;
    color: #023335;
    padding: 25px;
    margin-top: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#toggleForm:checked + .volunteer-form {
    display: block;
}

.volunteer-form h3 {
    text-align: center;
    margin-bottom: 20px;
}

.volunteer-form label {
    display: block;
    margin: 12px 0 5px;
    font-weight: bold;
}

.volunteer-form input,
.volunteer-form select,
.volunteer-form textarea {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.volunteer-form button {
    width: 100%;
    padding: 12px;
    background: #023335;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease;
}

.volunteer-form button:hover {
    background: #045d60;
}
.card-number {
    position: absolute;
top: -12px;
left: -12px;
width: 42px;
height: 42px;
background: linear-gradient(135deg,#C9A24D,#E6C76E);
color: #fff;
font-weight: bold;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}